<div class="Main-Container">
  <mat-card class="Form-Container">
    <!--mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar-->
    <form [formGroup]="RegisterForm">
      <div>
        <header>
          <span style="color: blue">F</span>
          <span style="color: red">u</span>
          <span style="color: yellow">n</span>
          <span style="color: blue">d</span>
          <span style="color: green">o</span>
          <span style="color: red">o</span>
        </header>
        <h1>Create Your Fundoo Account</h1>
      </div>
      <div class="Form-Content">
        <div>
          <div class="div">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName" />
              <mat-error *ngIf="RegisterForm.get('firstName')?.errors?.required"
                >First Name is required</mat-error
              >
              <mat-error *ngIf="RegisterForm.get('firstName')?.errors?.pattern"
                >First Name is invalid</mat-error
              >
              <mat-error
                *ngIf="RegisterForm.get('firstName')?.errors?.minLength"
                >Enter atleast 3 letters</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName" />
              <mat-error *ngIf="RegisterForm.get('lastName')?.errors?.required"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="RegisterForm.get('lastName')?.errors?.pattern"
                >Last Name is invalid</mat-error
              >
              <mat-error *ngIf="RegisterForm.get('lastName')?.errors?.minLength"
                >Enter atleast 3 letters</mat-error
              >
            </mat-form-field>
          </div>
          <div class="input-div">
            <mat-form-field appearance="outline" style="width: 86%">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="RegisterForm.get('email')?.errors?.required"
                >Email is required</mat-error
              >
              <mat-error *ngIf="RegisterForm.get('email')?.errors?.email"
                >Invalid Email</mat-error
              >
              <mat-hint style="font-size: 12px"
                >You can use letters, numbers & periods</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="extra">
            <button mat-flat-button class="email">
              Use my current email address instead
            </button>
          </div>
          <div class="pwd">
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  [type]="hide ? 'text' : 'password'"
                />
                <mat-error
                  *ngIf="RegisterForm.get('password')?.errors?.required"
                  >Password is required</mat-error
                >
                <mat-error *ngIf="RegisterForm.get('password')?.errors?.pattern"
                  >Invalid Password
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="confirm"
                  [type]="hide ? 'text' : 'password'"
                  pattern="{{ RegisterForm.value.password }}"
                />
                <mat-error *ngIf="RegisterForm.get('confirm')?.errors?.required"
                  >Confirm Password is required</mat-error
                >
                <mat-error *ngIf="RegisterForm.get('confirm')?.errors?.pattern"
                  >Password doesn't match</mat-error
                >
              </mat-form-field>
            </div>
            <div class="hint">
              <mat-hint class="hint-msg"
                >Use 8 or more characters with a mix of letters, numbers
                &symbols</mat-hint
              >
            </div>
          </div>
          <div class="checkbox">
            <mat-checkbox class="" (change)="hide = !hide"
              >Show Password</mat-checkbox
            >
          </div>
          <div class="button-div">
            <a routerLink="/login"
              ><button mat-button class="Signin">Sign in instead</button></a
            >
            <button mat-flat-button class="next" (click)="Register()">
              Next
            </button>
          </div>
        </div>
        <div class="div-image">
          <img src="../../../assets/account.svg" alt="icon" />
          <figcaption>One account. All of Fundoo working for you.</figcaption>
        </div>
      </div>
    </form>
  </mat-card>
</div>
