$CommonColor: #1a73e8;

.fogotpassword-container{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 150px;

    .frgtpwd{
        width: 400px;
        height: 400px;
    }

    form{
        margin-left: 20px;
        margin-top: 20px;
    }

    header{
        font-size: 25px;
        text-align: center;
    }

    h1{
        text-align: center;
        margin-top: 20px;
    }

    .div{
        margin-top: 60px;
        margin-right: 12px;
    }

    mat-form-field{
        width: 365px;
    }

    .button-div{
        margin-top: 50px;
        margin-left: 300px;
    }

    .next{
        background-color: $CommonColor;
        color: white;
        width: 25%;
    }
}