<div class="fogotpassword-container">
  <mat-card class="frgtpwd">
    <form [formGroup]="ForgotForm">
      <div>
        <header>
          <span style="color: blue">F</span>
          <span style="color: red">u</span>
          <span style="color: yellow">n</span>
          <span style="color: blue">d</span>
          <span style="color: green">o</span>
          <span style="color: red">o</span>
        </header>
        <h1>Account recovery</h1>
      </div>
      <div class="forgotpassword-content">
        <div class="div">
          <div class="line">
            <p>Enter the Fundoo email address that you want to restore </p>
          </div>
          <div class="email">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email"/>
            </mat-form-field>
          </div>
          <div class="button-div">
            <button mat-button class="next" (click)="forgot()">Next</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
